---
services:
  web:
    image: nginx:latest
    profiles: [web]
    deploy:
      replicas: 2
      update_config:
        parallelism: 4
        delay: 0s
        failure_action: pause
        monitor: 5s
        max_failure_ratio: 0.1
        order: start-first
        x-healthcheck-host-command: |
          echo "Healthcheck for container {{ .ContainerShortID }} failed!" >&2
          exit 0
        x-pre-stop-host-command: |
          echo "This can be used to interact with the container before it is stopped by the docker api"
          echo 'Stop command running on host'
          exit 0
        x-post-stop-host-command: |
          echo "This can be used to interact with the container after it is stopped by the docker api"
          echo "It can also be used to update other systems that are tracking containers within the docker compose project"
          echo 'Post-stop command running on host'
          exit 0
        x-post-start-command: |
          echo "This can be used to interact with the container after it is started by the docker api"
          echo "It can also be used to update other systems that are tracking containers within the docker compose project"
          echo 'Post-start command running on host'
          exit 0
    depends_on:
      db:
        condition: service_healthy
        restart: true
      redis:
        condition: service_started
  redis:
    image: redis
    depends_on:
      nginx-first:
        condition: service_started
  nginx-first:
    image: nginx:latest
  db:
    image: postgres:18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: postgres
